<div class="row">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-geojson="<%= @geojson.to_json %>"
    ></div>
</div>

<!-- pourrait faire ça, mais ne peut pas être sûr d'avoir chargé la library => besoin call back -->
<!-- <script>initMap();</script> -->

<!-- <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEoBsWsglTRWYE3LuBRJL_Yn6jA3jXG90&callback=initMap">
</script> -->
