<div class="row">

<!--   <form action="/" method="get">
    <label for="name"> Port: </label>
    <select name="name" id="name">
      <#% Harbour.all.each do |f| %>
        <option value="" selected disabled hidden>Choisir le port</option>
        <option value="<%#=f.name%>"> <%#=f.name.capitalize%>
        </option>
      <%# end %>
    </select>
    <input type="submit">
  </form> -->

  <p>Filtre par port:</p>
  <select id="select2_harbours", multiple=true, style="width: 500px">
    <% @harbours.map do |h| %>
      <option value="<%= h.name %>"><%= h.name %></option>
    <% end %>
  </select>

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-geojson="<%= @geojson.to_json %>"
  ></div>

</div>
