<div class="row">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-geojson="<%= @geojson.to_json %>"
    ></div>
</div>

<!-- could do that but would not be sure that library is charged => need call back -->
<!-- <script>initMap();</script> -->

<!-- from google map api tutorial -->
<!-- <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4UokUNm9gH9YCoz-x-Q4Iu__zSUQuAlY&callback=initMap">
</script> -->
