.text-size-bigtitle {
  font-size: 48px;
}

.text-size-title {
  font-size: 24px;
}

.text-size-body {
  font-size: 18px;
}

.text-size-body-small {
  font-size: 14px;
}

h1 {
  @extend .text-size-title;
}

body {
  @extend .text-size-body;
}
